
<h1>Add Code Snippet</h1>

<form action="/savesnippet" method="post">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" value="{{snippet.title}}" />
  <div class="fieldError">{{errors.title.message}}</div>
  <br />

  <label for="body">Body</label>
  <input type="text" id="body" name="category" value="{{snippet.body}}" />
  <div class="fieldError">{{errors.body.message}}</div>
  <br />

  <label for="notes">Notes</label>
  <input type="text" id="notes" name="notes" value="{{snippet.notes}}" />
  <div class="fieldError">{{errors.notes.message}}</div>
  <br />

  <label for="language">Language</label>
  <input type="text" id="language" name="language" value="{{snippet.language}}" />
  <div class="fieldError">{{errors.language.message}}</div>
  <br />

  <label for="tags">Tags</label>
  <input type="text" id="tags" name="tags" value="{{snippet.tags}}" />
  <div class="fieldError">{{errors.tags.message}}</div>
  <br />

  {{#if snippet._id}}
    <input type="hidden" name="id" value="{{snippet._id}}" />
  {{/if}}

  <button class="button-primary">Save Code</button>
</form>
